body {
    background-image: url(../img/fondo-fdm.jpg);
    margin: 0; 
    padding: 0; 
  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Tilt Prism', cursive;
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
  }
  
  h2 {
    background-color: rgb(92, 85, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    margin: 0; 
    padding: 20px 0; 
    color: #fff; 
  }
  
  h3 {
    background-color: rgb(114, 111, 133);
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Castoro Titling', cursive;
    font-size: 20px;
    padding: 10px;
    margin: 0; 
    color: #fff; 
  }
  
  .containerimg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    border-radius: 50%;
    background-color: #9a7517;
  }
  .img-kiosko{
    margin-top: 30px;
  }
  
  .stilo-boton {
    display: flex;
    justify-content: space-around;
  }
  
  .stilo-boton button:hover {
    background-color: #ff0000;
  }
  
  
  #mensaje-container {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  

  #metodo-pago-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  #metodo-pago-container button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #metodo-pago-container button:hover {
    background-color: #45a049;
  }
  
  
  #procesar-compra-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #procesar-compra-button:hover {
    background-color: #0056b3;
  }
  

  .tabla-contenedor {
    background-color: lightgray;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px; 
    width: 100%; 
    border-radius: 10px; 
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    background-color: #e9e9e9;
  }
  
  
  .tabla-estilo {
    margin: 0;
    width: 100%;
  }
  
  .tabla-estilo table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tabla-estilo th,
  .tabla-estilo td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .tabla-estilo th {
    background-color: #f2f2f2;
  }
  